{:kotoba.app/id "cloud.itonami.isic-2023", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreieyonwoj3wzvfaz3au73xdh3eafmxpflecpl6uk26er4aye7mh7rq", :kotoba.app/embed-url "ipfs://bafkreieyonwoj3wzvfaz3au73xdh3eafmxpflecpl6uk26er4aye7mh7rq", :published {:archive "https://kotobase.net/ipfs/bafkreieyonwoj3wzvfaz3au73xdh3eafmxpflecpl6uk26er4aye7mh7rq", :size 73604, :put-status 201, :get-status 200, :at "2026-08-15T13:43:22.113Z"}}
